In [ ]:
## Questions

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shubham\anaconda3\lib\site-packages (4.20.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shubham\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\shubham\anaconda3\lib\site-packages (from selenium) (0.25.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shubham\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shubham\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\shubham\anaconda3\lib\site-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\shubham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\shubham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shubham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\shubham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\shubham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\shubham\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\shubham\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shubham\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shubham\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shubham\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [ ]:
Q1) Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.shine.com/ 
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field. 
3. Then click the searchbutton.  
4. Then scrape the data for the first 10 jobs results you get.  
5. Finally create a dataframe of the scraped data.

In [3]:
driver = webdriver.Chrome() #initializing the chrome

In [4]:
driver.get("https://www.shine.com/") #opening the URL

In [ ]:
## Automation of requirments

In [5]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys("Data Analyst")

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("BANGALORE")

In [7]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [ ]:
## Scraping the Title, etc etc

In [159]:
job_title=[]
job_location=[]
company_name=[]

In [163]:

#scraping job _title from the given page

title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a')
for i in title_tags:
    if(len(job_title)<10):
        title=i.text
        job_title.append(title)
    
    #scraping job Location from the given page    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    if(len(job_location)<10):
        location=i.text
        job_location.append(location)
        
    #scraping company name from the given page        
company_tags=driver.find_elements(By.CLASS_NAME,'jobCard_jobCard_cName__mYnow')
for i in company_tags:
    if(len(company_name)<10):
        company=i.text
        company_name.append(company)

In [164]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [165]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name})
df

,Title,Location,Company_name
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd
3,Data Analyst Opening,Bangalore\n+12,radhika enterprises
4,Clinical Data Analyst,Bangalore\n+6,techno endura
5,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12,radhika enterprises
6,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises
7,Data Analyst Recruitment,Bangalore\n+12,radhika enterprises
8,Business Analyst,Bangalore\n+6,mackenzie modern it solutions priva...
9,Data Governance Analyst,Bangalore,white horse manpower consultancy (p...

In [ ]:
Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data. 
This task will be done in following steps: 
1. First get the webpage https://www.naukri.com/  
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field. 
3. Then click the searchbutton.  
4. Then scrape the data for the first 10 jobs results you get.  
5. Finally create a dataframe of the scraped data.

In [175]:
driver = webdriver.Chrome()
driver.get("https://www.naukri.com/")

#designation fillup 
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ") 
designation.send_keys("Data Analyst")

#location fillup
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("BANGALORE")

#location fillup
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

## Scraping the Title, etc etc 

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [176]:
#scraping job _title from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    if(len(job_title)<10):
        title=i.text
        job_title.append(title)
    
#scraping job Location from the given page
location_tags=driver.find_elements(By.CLASS_NAME,"locWdth")
for i in location_tags:
    if(len(job_location)<10):
        location=i.text
        job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    if(len(company_name)<10):
        company=i.text
        company_name.append(company)
    
experience_tags=driver.find_elements(By.CLASS_NAME,"expwdth")
for i in experience_tags:
    if(len(experience_required)<10):
        experience=i.text
        experience_required.append(experience)

In [177]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [178]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Expereince':experience_required})
df

,Title,Location,Company_name,Expereince
0,Data Analyst,Remote,AskmeOffers.com unit of Lussac International P...,0-5 Yrs
1,Data Analyst,"Hybrid - Kolkata, Bengaluru",Ltimindtree,12-17 Yrs
2,Data Analyst,Hybrid - Bengaluru,Naukri Premium - Employer Services,3-5 Yrs
3,Data Analyst,Bengaluru,Freshmenu,3-7 Yrs
4,Field Programs Data Analyst,Bengaluru,Salesforce,2-5 Yrs
5,Data Analyst,Bengaluru,ANZ,1-5 Yrs
6,Data Analyst,Bengaluru,TMF Group,2-4 Yrs
7,Field Programs Data Analyst,Bengaluru,Tableau Software,2-5 Yrs
8,Data Analyst,Bengaluru,Deep Cognition India,2-3 Yrs
9,Data Analyst,Hybrid - Bengaluru,none,5-8 Yrs

In [ ]:
Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
1. Brand  
2. ProductDescription  
3. Price 

To scrape the data you have to go through following steps:  
1. Go to Flipkart webpage by url : https://www.flipkart.com/  
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and 
click the search icon  
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual. 
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.  
5. Now scrape data from this page as usual  
6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done 
by coding only and not manually. 
Note: That all of the above steps have to be done by coding only and not manually.

In [15]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [16]:
search=driver.find_element(By.CLASS_NAME,"Pke_EE")
search.send_keys('Sunglasses')

enter=driver.find_element(By.CLASS_NAME,"_2iLD__")
enter.click()

brand=[]
product_desc=[]
price=[]

In [18]:
start=0
end=10

#scraping job _title from the given page
for page in range(start,end):
    brand_tag=driver.find_elements(By.CLASS_NAME,'syl9yP')
    for i in brand_tag:
        if(len(brand)<100):
            title=i.text
            brand.append(title)
    desc=driver.find_elements(By.CLASS_NAME,"WKTcLC")
    for i in desc:
        if(len(product_desc)<100):
            description=i.text
            product_desc.append(description)
            
    price_tag=driver.find_elements(By.CLASS_NAME,'Nx9bqj')
    for i in price_tag:
        if(len(price)<100):
            pricing=i.text
            price.append(pricing)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')   
    next_button.click()
    time.sleep(3)

In [19]:
print(len(brand),len(product_desc),len(price))

100 100 100

In [20]:
import pandas as pd
df=pd.DataFrame({'Brand':brand,'Product_Description':product_desc,'Price':price})
df

             Brand                                Product_Description   Price
0            NuVew  UV Protection Sports, Wrap-around Sunglasses (70)    ₹499
1      john jacobs                UV Protection Round Sunglasses (51)  ₹2,316
2         Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹503
3        Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
4           PIRASO       UV Protection Aviator Sunglasses (Free Size)    ₹303
..             ...                                                ...     ...
95        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹499
96  ROZZETTA CRAFT  UV Protection, Gradient Butterfly, Shield Sung...    ₹315
97            IDEE                      Gradient Oval Sunglasses (52)    ₹585
98        POLAROID                     Polarized Oval Sunglasses (57)    ₹357
99  Mast & Harbour                   Gradient Aviator Sunglasses (58)    ₹499

[100 rows x 3 columns]