# BeautifulSoup Practice questions

In [4]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\shubham\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\shubham\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\shubham\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Requirement already satisfied: requests in c:\users\shubham\anaconda3\lib\site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shubham\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shubham\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shubham\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shubham\anaconda3\lib\site-packages (from requests) (2023.5.7)

In [ ]:
1) Write a python program to display all the header tags from wikipedia.org.

In [8]:
import bs4 as BeautifulSoup
import requests

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [9]:
page

TypeError: 'module' object is not callable

In [23]:

from bs4 import BeautifulSoup
import requests

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

soup = BeautifulSoup(page.content)

header_tags = ['h1', 'h2']

h1 = []
h2 = []

for tag_name in header_tags:
    for tag in soup.find_all(tag_name):
        if tag_name == 'h1':
            h1.append(tag.text)
        elif tag_name == 'h2':
            h2.append(tag.text)

In [25]:
h1

['Main Page', 'Welcome to Wikipedia']

In [26]:
h2

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [ ]:
Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year
of release) and make data frame.

In [31]:

name = [ ]
rating = [ ]
year = [ ]

page = requests.get('https://www.imdb.com/list/ls091520106/')

soup = BeautifulSoup(page.content)

for y in soup.find_all('h3', class_="lister-item-header"):
    name.append(y.text)
    
for y in soup.find_all('div', class_="ipl-rating-star small"):
    rating.append(y.text)
    
for y in soup.find_all('span', class_="lister-item-year text-muted unbold"):
    year.append(y.text)

In [32]:
name

['\n1.\nThe Shawshank Redemption\n(1994)\n',
 '\n2.\nThe Godfather\n(1972)\n',
 '\n3.\nThe Godfather Part II\n(1974)\n',
 '\n4.\nThe Dark Knight\n(2008)\n',
 '\n5.\n12 Angry Men\n(1957)\n',
 "\n6.\nSchindler's List\n(1993)\n",
 '\n7.\nThe Lord of the Rings: The Return of the King\n(2003)\n',
 '\n8.\nPulp Fiction\n(1994)\n',
 '\n9.\nIl buono, il brutto, il cattivo\n(1966)\n',
 '\n10.\nFight Club\n(1999)\n',
 '\n11.\nJoker\n(I) (2019)\n',
 '\n12.\nThe Lord of the Rings: The Fellowship of the Ring\n(2001)\n',
 '\n13.\nForrest Gump\n(1994)\n',
 '\n14.\nInception\n(2010)\n',
 '\n15.\nStar Wars: Episode V - The Empire Strikes Back\n(1980)\n',
 '\n16.\nThe Lord of the Rings: The Two Towers\n(2002)\n',
 '\n17.\nThe Matrix\n(1999)\n',
 "\n18.\nOne Flew Over the Cuckoo's Nest\n(1975)\n",
 '\n19.\nGoodfellas\n(1990)\n',
 '\n20.\nShichinin no samurai\n(1954)\n',
 '\n21.\nSe7en\n(1995)\n',
 '\n22.\nCidade de Deus\n(2002)\n',
 '\n23.\nLa vita è bella\n(1997)\n',
 '\n24.\nThe Silence of the Lambs\n(1991)\n',
 '\n25.\nStar Wars\n(1977)\n',
 "\n26.\nIt's a Wonderful Life\n(1946)\n",
 '\n27.\nSaving Private Ryan\n(1998)\n',
 '\n28.\nSen to Chihiro no kamikakushi\n(2001)\n',
 '\n29.\nThe Green Mile\n(1999)\n',
 '\n30.\nLéon\n(1994)\n',
 '\n31.\nSeppuku\n(1962)\n',
 '\n32.\nInterstellar\n(2014)\n',
 '\n33.\nThe Usual Suspects\n(1995)\n',
 '\n34.\nThe Lion King\n(1994)\n',
 '\n35.\nAmerican History X\n(1998)\n',
 '\n36.\nBack to the Future\n(1985)\n',
 '\n37.\nThe Pianist\n(2002)\n',
 '\n38.\nModern Times\n(1936)\n',
 '\n39.\nTerminator 2: Judgment Day\n(1991)\n',
 '\n40.\nThe Intouchables\n(2011)\n',
 '\n41.\nPsycho\n(1960)\n',
 '\n42.\nGladiator\n(2000)\n',
 '\n43.\nCity Lights\n(1931)\n',
 '\n44.\nThe Departed\n(2006)\n',
 '\n45.\nWhiplash\n(2014)\n',
 '\n46.\nOnce Upon a Time in the West\n(1968)\n',
 '\n47.\nThe Prestige\n(2006)\n',
 '\n48.\nAvengers: Endgame\n(2019)\n',
 '\n49.\nCasablanca\n(1942)\n',
 '\n50.\nHotaru no haka\n(1988)\n',
 '\n51.\nRear Window\n(1954)\n',
 '\n52.\nNuovo Cinema Paradiso\n(1988)\n',
 '\n53.\nAlien\n(1979)\n',
 '\n54.\nRaiders of the Lost Ark\n(1981)\n',
 '\n55.\nMemento\n(2000)\n',
 '\n56.\nApocalypse Now\n(1979)\n',
 '\n57.\nThe Great Dictator\n(1940)\n',
 '\n58.\nThe Lives of Others\n(2006)\n',
 '\n59.\nAvengers: Infinity War\n(2018)\n',
 '\n60.\nDjango Unchained\n(2012)\n',
 '\n61.\nSpider-Man: Into the Spider-Verse\n(2018)\n',
 '\n62.\nThe Shining\n(1980)\n',
 '\n63.\nPaths of Glory\n(1957)\n',
 '\n64.\nWALL·E\n(2008)\n',
 '\n65.\nSunset Boulevard\n(1950)\n',
 '\n66.\nDr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb\n(1964)\n',
 '\n67.\nMononoke-hime\n(1997)\n',
 '\n68.\nOldeuboi\n(2003)\n',
 '\n69.\nWitness for the Prosecution\n(1957)\n',
 '\n70.\nThe Dark Knight Rises\n(2012)\n',
 '\n71.\nOnce Upon a Time in America\n(1984)\n',
 '\n72.\nGisaengchung\n(2019)\n',
 '\n73.\nAliens\n(1986)\n',
 '\n74.\nAmerican Beauty\n(1999)\n',
 '\n75.\nCoco\n(I) (2017)\n',
 '\n76.\nKimi no na wa.\n(2016)\n',
 '\n77.\nBraveheart\n(1995)\n',
 '\n78.\nDas Boot\n(1981)\n',
 '\n79.\n3 Idiots\n(2009)\n',
 '\n80.\nTaare Zameen Par\n(2007)\n',
 '\n81.\nStar Wars: Episode VI - Return of the Jedi\n(1983)\n',
 '\n82.\nToy Story\n(1995)\n',
 '\n83.\nReservoir Dogs\n(1992)\n',
 '\n84.\nAmadeus\n(1984)\n',
 '\n85.\nDangal\n(2016)\n',
 '\n86.\nGood Will Hunting\n(1997)\n',
 '\n87.\nInglourious Basterds\n(2009)\n',
 '\n88.\nM - Eine Stadt sucht einen Mörder\n(1931)\n',
 '\n89.\nRequiem for a Dream\n(2000)\n',
 '\n90.\n2001: A Space Odyssey\n(1968)\n',
 '\n91.\nVertigo\n(1958)\n',
 '\n92.\nEternal Sunshine of the Spotless Mind\n(2004)\n',
 '\n93.\nCitizen Kane\n(1941)\n',
 '\n94.\nFull Metal Jacket\n(1987)\n',
 '\n95.\nJagten\n(2012)\n',
 '\n96.\nNorth by Northwest\n(1959)\n',
 '\n97.\nA Clockwork Orange\n(1971)\n',
 '\n98.\nSnatch\n(2000)\n',
 "\n99.\nLe fabuleux destin d'Amélie Poulain\n(2001)\n",
 '\n100.\nThe Kid\n(1921)\n']

In [33]:
rating

['\n\n\n\n\n\n\n\n9.3\n',
 '\n\n\n\n\n\n\n\n9.2\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n9\n',
 '\n\n\n\n\n\n\n\n8.9\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.9\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.8\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.7\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.6\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.5\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.4\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.2\n',
 '\n\n\n\n\n\n\n\n8.3\n',
 '\n\n\n\n\n\n\n\n8.2\n']

In [34]:
year

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(I) (2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [ ]:
Write a python program to scrape mentioned details from dineout.co.in : i) Restaurant name
ii) Cuisine iii) Location iv) Ratings v) Image URL.

In [44]:

rest_name = [ ]
cuisine = [ ]
location = [ ]
ratings = [ ]
img_link = [ ]

page = requests.get('https://www.dineout.co.in/mumbai-restaurants?search_str=mumbai')

soup = BeautifulSoup(page.content)

for y in soup.find_all('a', class_="restnt-name ellipsis"):
    rest_name.append(y.text)
    
for y in soup.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(y.text)
    
for y in soup.find_all('div', class_="restnt-loc ellipsis"):
    location.append(y.text)
                       
for y in soup.find_all('div', class_="restnt-rating"):
    ratings.append(y.text)
                       
for y in soup.find_all('img', class_="no-img"):
    img_link.append(y['data-src'])

In [38]:
page

In [39]:
rest_name

['Dragonfly Experience',
 'Mainland China',
 'Kake Da Hotel',
 'Thambbi',
 'Cream Centre- Ghatkopar West',
 'Khandani Rajdhani',
 "Grandmama's Cafe",
 'Sigree Global Grill',
 'Urban Tadka',
 'Bombay Martini',
 'Malgudi',
 'Cinnabon',
 'PizzaExpress',
 'Mad Over Donuts',
 'Little Punjab',
 'Hoppipola',
 "Kareem's",
 'Waffle World',
 'Chili’s American Grill and Bar',
 'Bayroute',
 'Taco Bell']

In [40]:
img_link

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/i/s/p43855-15611901395d0ddefb9590d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/g/f/p12593-1453111795569cb9f3aabf3.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/a/s/p89882-1615626320604c8050d193e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/j/r/p6327-15758008765decd02c49d1a.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/l/m/p6576-17011739076565da930ace6.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/c/b/p8020-149087739958dcfbd7ebb73.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/a/i/p4364-163214454461488ca0a77fc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/s/o/p9884-16621888756312fd4b0c44a.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/6/q/i/p6049-167205282163a980557b529.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/x/h/p105983-165814949962d55a7b2ceba.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/u/f/p807-15510888885c73bcf89fd8f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/a/x/p4690-15421980045bec12f45217c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/e/p737-148757585558aa9b2f99519.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/b/e/p40-16468304496228a37136fe7.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/l/y/p34256-16466349056225a799947eb.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/f/q/p3577-1499088621595a46ed1c3bb.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/f/o/p3700-162133704460a3a3d49149d.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/v/d/p7605-1648016323623abbc39beb5.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/d/j/p3696-147851946558206aa9950ee.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/h/r/p50009-16843832406465a60820268.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/d/k/p3614-16058672985fb7972260786.jpg?tr=tr:n-medium']

In [41]:
cuisine

['₹ 2,700 for 2 (approx) | Chinese, Continental, Sushi, Asian, European, Beverages',
 '₹ 1,200 for 2 (approx) | Chinese, Asian, Thai',
 '₹ 800 for 2 (approx) | Chinese, North Indian, Biryani',
 '₹ 800 for 2 (approx) | South Indian, North Indian',
 '₹ 1,400 for 2 (approx) | North Indian, Fast Food, Italian, Mexican, Beverages',
 '₹ 1,200 for 2 (approx) | Gujarati, Rajasthani, North Indian',
 '₹ 1,200 for 2 (approx) | Continental, Italian, Beverages',
 '₹ 1,500 for 2 (approx) | North Indian, Biryani',
 '₹ 1,500 for 2 (approx) | North Indian, Mughlai',
 '₹ 1,900 for 2 (approx) | Finger Food, North Indian, Continental',
 '₹ 600 for 2 (approx) | South Indian',
 '₹ 500 for 2 (approx) | Desserts',
 '₹ 1,600 for 2 (approx) | Italian, Pizza',
 '₹ 500 for 2 (approx) | Desserts, Beverages',
 '₹ 900 for 2 (approx) | North Indian, Mughlai, Biryani',
 '₹ 1,400 for 2 (approx) | Continental, Finger Food, Italian',
 '₹ 1,200 for 2 (approx) | Mughlai, North Indian',
 '₹ 400 for 2 (approx) | Desserts',
 '₹ 2,000 for 2 (approx) | American, Mexican, Tex Mex',
 '₹ 3,800 for 2 (approx) | Arabian, Middle Eastern, Desserts',
 '₹ 500 for 2 (approx) | Tex Mex']

In [42]:
location

['Sahar Airport Road, Andheri East',
 'Hiranandani, Powai',
 'Vikhroli West, Central Suburbs',
 'Kailash Business Park,Vikhroli West, Central Suburbs',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'Ventura Building,Powai, Powai',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'Kailash Towers,Powai, Powai',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'Powai, Powai',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'Galleria Shopping Centre,Powai, Powai',
 'Galleria Shopping Centre,Powai, Powai',
 'Galleria Shopping Centre,Powai, Powai',
 'R City Mall,Ghatkopar West, Central Suburbs',
 'Powai, Powai',
 'Transocean House,Powai, Powai',
 'R City Mall,Ghatkopar West, Central Suburbs']

In [45]:
ratings

['3.4',
 '4.3',
 '4.4',
 '4.3',
 '4.4',
 '4.3',
 '4.4',
 '4.3',
 '4.3',
 '4.3',
 '4.2',
 '4.3',
 '4.3',
 '4.3',
 '4.3',
 '4.3',
 '4.3',
 '4.3',
 '4.1',
 '4.3',
 '5',
 '4.3',
 '3.9',
 '4.3',
 '4.4',
 '4.3',
 '4.2',
 '4.3',
 '4',
 '4.3',
 '4.3',
 '4.3',
 '4.2',
 '4.3',
 '5',
 '4.3',
 '4.2',
 '4.3',
 '4.5',
 '4.3',
 '4',
 '4.3']

In [ ]:
Write s python program to display list of respected former finance minister of India(i.e.
Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make
data frame.

In [55]:

name = [ ]
tenure = [ ]

page = requests.get('https://presidentofindia.nic.in/former-presidents')

soup = BeautifulSoup(page.content)

for y in soup.find_all('h3'):
    name.append(y.text)
    
for y in soup.find_all('h5'):
    tenure.append(y.text)

In [48]:
page

In [56]:
name

['Shri Ram Nath Kovind',
 'Shri Pranab Mukherjee',
 'Smt Pratibha Devisingh Patil',
 'DR. A.P.J. Abdul Kalam',
 'Shri K. R. Narayanan',
 'Dr Shankar Dayal Sharma',
 'Shri R Venkataraman',
 'Giani Zail Singh',
 'Shri Neelam Sanjiva Reddy',
 'Dr. Fakhruddin Ali Ahmed',
 'Shri Varahagiri Venkata Giri',
 'Dr. Zakir Husain',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Rajendra Prasad']

In [57]:
tenure

['14th President of India',
 '13th President of India',
 '12th President of India',
 '11th President of India',
 '10th President of India',
 '9th  President of India',
 '8th President of India',
 '7th President of India',
 '6th President of India',
 '5th President of India',
 '4th President of India',
 '3rd President of India',
 '2nd President of India',
 '1st President of India']